html, body {
  height: 100%;
}

body {
  background-color: $bg_red;
}

#main {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  border-top: 5px solid white;

  .container {
    width: 100%;
    height: 100%;
    padding: 3%;
  }
}