<header>
  <div id="logo">
    <h1>
      <a href="#">
        <img src="/assets/logo.png" alt="Personal Logo" />
      </a>
    </h1>
  </div>
  <nav>
    <ul>
      <li><span>/&nbsp;</span><a href="#">Work</a></li>
      <li><span>/&nbsp;</span><a href="#">About</a></li>
      <li><span>/&nbsp;</span><a href="#">Photos</a></li>
      <li><span>/&nbsp;</span><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>